{% extends "_layouts/elementindex" %}
{% set title = "Translate"|t %}
{% set elementType = 'Translate' %}

{% block sidebar %}
    <div class="buttons">
    	<a class="btn submit menubtn">{{ "Translate"|t }}</a>
    	<div class="menu">
    		<ul>
    			<li><a href="{{ actionUrl('translate/refresh') }}">{{ "Refresh"|t }}</a></li>
    			<li><a href="{{ actionUrl('translate/download') }}">{{ "Download"|t }}</a></li>
    			<li><a href="{{ actionUrl('translate/upload') }}">{{ "Upload"|t }}</a></li>
    		</ul>
    	</div>
    </div>

	{{ parent() }}
{% endblock %}
