{% extends "_layouts/elementindex" %}
{% set title = "Translate"|t %}
{% set elementType = 'Translate' %}

{% if craft.isLocalized() %}
    {% set editableLocaleIds = craft.i18n.getEditableLocaleIds() %}
    {% if editableLocaleIds|length %}
        {% if craft.locale in editableLocaleIds %}
            {% set initialLocale = craft.i18n.getCurrentLocale() %}
        {% else %}
            {% set initialLocale = craft.i18n.getLocaleById(editableLocaleIds|first) %}
        {% endif %}
    {% endif %}
{% else %}
    {% exit 403 %}
{% endif %}

{% block sidebar %}
    <div class="buttons">
    	<a class="btn submit menubtn">{{ "Translate"|t }}</a>
    	<div class="menu">
    		<ul>
    			<li><a href="{{ actionUrl('translate/refresh') }}">{{ "Refresh"|t }}</a></li>
    			<li><a href="{{ actionUrl('translate/download') }}">{{ "Download"|t }}</a></li>
    			<li><a href="{{ actionUrl('translate/upload') }}">{{ "Upload"|t }}</a></li>
    		</ul>
    	</div>
    </div>

	{{ parent() }}
{% endblock %}

{% block content %}
	<form method="post" accept-charset="utf-8">
    	<input type="hidden" name="action" value="translate/save">
        <input type="hidden" name="locale" value="{{ initialLocale }}">
        
		{{ parent() }}
		
		<div class="buttons hidden">
		    <input type="submit" class="btn submit" value="{{ 'Save'|t }}">
		</div>
	</form>
{% endblock %}