{% extends "_layouts/elementindex" %}
{% set title = "Translate"|t %}
{% set elementType = 'Translate' %}

{% includeCssResource "css/assets.css" %}
{% includeJsResource "lib/fileupload/jquery.ui.widget.js" %}
{% includeJsResource "lib/fileupload/jquery.fileupload.js" %}

{% block sidebar %}
    <div class="buttons">
        <input type="file" multiple="multiple" name="assets-upload" style="display: none" />
        <div class="btn submit assets-upload-button" data-icon="upload" style="position: relative; overflow: hidden;" role="button">{{ "Upload file"|t }}</div>
    </div>

	{{ parent() }}
{% endblock %}

{% block content %}
	<form method="post" accept-charset="utf-8">
    	<input type="hidden" name="action" value="translate/save">
        <input type="hidden" name="locale" value="{{ craft.locale }}">
        
		{{ parent() }}
		
		<div class="buttons hidden">
		    <input type="submit" class="btn submit" value="{{ 'Save'|t }}">
		</div>
	</form>
{% endblock %}

{% block initJs %}
    {{ parent() }}
    
    // Get locale menu btn
    var $localeMenuBtn = $('.localemenubtn:first').menubtn().data('menubtn').menu;
    
    // Get locale form element
    var $localeFormElm = $('input[name="locale"]');
    
    // Init form with selected locale
    $localeFormElm.val(Craft.getLocalStorage('BaseElementIndex.locale'));
    
    // Change locale on select
    $localeMenuBtn.on('optionselect', function(ev) {
        $localeFormElm.val($(ev.selectedOption).data('locale'));
    });    
{% endblock %}